container_commands:
    01collectstatic:
        command: "python3 manage.py collectstatic --noinput"
    02initdb:
        command: "python3 manage.py makemigrations"
        command: "python3 manage.py migrate"
    03_createsu:
        command: "python manage.py createsu"
        
option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "Portfolio.settings"
        PYTHONPATH: "$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: Portfolio/wsgi.py