/* CSS Variables */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 30px 50px;
    line-height:  1.4;
    min-height: 100vh;
}
.main{
    flex: 1;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'portfolio' 'boxes' 'footer';
}

header{
    display: grid;
    grid-template-areas: 'title-card main-nav';
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 1.5rem;
}
/* Navigation */
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem; 
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

.main-nav{
    /* top right bottom left */
    margin: auto 0 auto auto;
    /* border: 2px solid black; */
}

.title-card{
    /* border: 2px solid black; */
    /* top right bottom left */
    margin: auto auto auto 0;
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.1rem 1.1rem;
    box-shadow: var(--shadow);
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    /* border: 2px solid black; */
}
.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

footer{
    margin-top: 2rem;
    /* background: var(--dark); */
    color: var(--dark);
    text-align: center;
    padding: 1rem;
    /* border: 2px solid black; */
}

/* Media Queries */

@media(max-width: 800px){
    .title-card{
        border: 2px solid red;
        margin: 0;
        text-align: center;
    }
    header{
        grid-template-areas: 'title-card' 'main-nav';
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .main-nav{
        margin: 0;
    }

}