/* CSS Variables */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Oswald;
    color: var(--dark);
}

body{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 30px 50px;
    line-height:  1.4;
    min-height: 100vh;
}
.main{
    flex: 1;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'portfolio' 'boxes' 'footer';
}

/* Header */
header{
    display: grid;
    grid-template-areas: 'title-card main-nav';
    text-transform: uppercase;
    font-size: 1.5rem;
}
.title-card{
    /* border: 2px solid black; */
    /* top right bottom left */
    display: grid;
    grid-template-areas: 'h1 h2';
    margin: auto auto auto 0;
    font-size: 1.8rem;
}
h1 a{
    text-decoration: none;
    color: inherit;
}

/* Navigation */
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem; 
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

.main-nav{
    /* top right bottom left */
    margin: auto 0 auto auto;
    /* border: 2px solid black; */
}

/* Social Boxes (not implemented yet) */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.1rem 1.1rem;
    box-shadow: var(--shadow);
}

/* Portfolio Images */
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    /* border: 2px solid black; */
}
.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
    padding: (3/2) * 100%;
    overflow: hidden;
}

/* Footer  */
footer{
    margin-top: 2rem;
    color: var(--dark);
    text-align: center;
    padding: 1rem;
    /* border: 2px solid black; */
}

/* Media Queries */

@media(max-width: 1000px){
    .title-card{
        /* border: 2px solid red; */
        margin: 0;
        text-align: center;
    }
    header{
        grid-template-areas: 'title-card' 'main-nav';
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .main-nav{
        margin: 0;
    }

}

@media(max-width: 530px){
    .title-card{
        grid-template-areas: 'h1' 'h2';
    }
}