{% extends "base_generic.html" %}

{% block title %}{{title}}{% endblock %}

{% block home-slider %}
  <!-- Portfolio -->
  <section class="home-slider">
    
    <div id="arrow-left" class="arrow"></div>

    <div id="slider">
      {% load static %}
    
      {% for image in img_gal %}
      <a href="{% url image.portfolio_section %}">
        <div class="slide slide{{ image.id }} ">
            
            <style>
              .slide{{ image.id }}{
                background-image: url({{ image.picture.url }});
              }
            </style>
            
            <div class="slide-content">
              <span>{{ image.portfolio_section }}</span>
            </div>
        </div>
      </a>
      {% endfor %}

    </div>

    <div id="arrow-right" class="arrow"></div>
    <!-- Run this script at the end to allow the page to fully load first -->
    <script src="{% static 'portfolio/js/main.js' %}"></script>
  </section>
{% endblock %}