{% extends "base_generic.html" %}

{% block content %}
  <h2>/ {{Home.title}}</h2>

  <!-- Portfolio -->
  <section class="portfolio">
      {% load static %}
      <img src="{% static 'portfolio/Images/HotWaterBeach-BJM.JPG' %}" alt="">
      <img src="{% static 'portfolio/Images/BK-Bridge.JPG' %}" alt="">
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
      <!-- <img src="https://source.unsplash.com/random/300x200" alt=""> -->
    </section>
{% endblock %}