{% extends "base_generic.html" %}

{% block title %}<h2> / {{title}}</h2>{% endblock %}


{% block content %}
  <!-- Portfolio -->
  <section class="portfolio">
      {% load static %}
      {% for image in img_gallery %}
        <img src="{% static '{url media}' %}" alt="">
      {% endfor %}
      {% comment %} <img src="{% static 'portfolio/Images/HotWaterBeach-BJM.JPG' %}" alt="">
      <img src="{% static 'portfolio/Images/BK-Bridge.JPG' %}" alt=""> {% endcomment %}
    </section>
{% endblock %}